.container {
    position: relative;
    width: 650px;
    height: 294px;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    background-color:gray;
    border-radius: 2%;
    border-color: black;
    padding: -50px;

}
body{
    
    font-family:sans-serif;
    letter-spacing: 2px;
    
}

fieldset{
    height: 100%;
    padding: 40px 100px 20px 40px;
    border: 10px solid;
    border-color: black;
}

.puta{
    margin-left: 49px;
    
}
.tang{
    margin-left: 15px;
    width: 310px;
    
}

.shet{
    margin-right: 20px;
    
}

.nam{
    margin-left: 80px; 
}


.ina{
    margin-left: 99px;
}

.bob{
    margin-left: 49px;
}
.yes{
    margin-left: 49px;
    width: 150px;
    align-self: auto;
}

.no{
    margin-left: 49px; 
    width: 150px;
    align-self: auto;
}


.huh{
    margin-left: 79px;
}

.hell{
    margin-left: 50px;
}